<article class="relative group bg-zinc-100 dark:bg-zinc-900 hover:bg-blue-100 dark:hover:bg-blue-900 rounded-3xl">
  <a class="insert-link" href="{{ .Permalink }}"></a>
  {{ if .Params.Image }}
    <figure class="w-full aspect-video overflow-hidden rounded-3xl">
      {{ if (strings.HasPrefix .Params.Image "http") }}
        <img class="object-cover group-hover:scale-105 transition duration-500 cursor-pointer w-full h-half"
             src="{{ .Params.Image }}" alt="{{ .Params.Caption }}" loading="lazy">
      {{ else }}
        {{ with $img := resources.Get .Params.Image }}
          {{ $imgFeature := $img.Resize "720x Q85" -}}
          <img class="object-cover group-hover:scale-105 transition duration-500 cursor-pointer"
               src="{{ $imgFeature.Permalink }}" alt="{{ .Params.Caption }}" width="{{ $imgFeature.Width }}"
               height="{{ $imgFeature.Height }}" loading="lazy">
        {{ end }}
      {{ end }}
    </figure>
  {{ end }}

  <div class="p-6">
    <h3 class="my-4 text-2xl font-bold">{{ .LinkTitle }}</h3>
    <time class="text-sm font-semibold mb-2 block"
          datetime="{{ .Params.Date.Format "2006-01-02T15:04:05+00:00" }}">{{ .Date.Format "Jan 02, 2006" }}</time>
    <p class="leading-normal text-zinc-500 dark:text-zinc-300 line-clamp-2">
      {{ if .Params.Description }}
        {{ .Params.Description }}
      {{ else if .Params.Summary }}
        {{ .Params.Summary }}
      {{ else }}
        {{ .Summary }}
      {{ end }}
    </p>
  </div>
</article>
