<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partial "head/meta.html" . }}
<link rel="preconnect" href="https://unpkg.com" />
<link rel="preconnect" href="https://cdn.jsdelivr.net" />
<script>
  // On page load or when changing themes, best to add inline in `head` to avoid FOUC
  document.documentElement.classList.toggle("dark", () => {
    localStorage.theme === "dark" ||
    (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches);
  });
</script>
{{ partialCached "head/css.html" . }}
